<div class="bestforsummer">
    <div class="bestforsummer-container">
    <a href="#" class="bestforsummer-box-item bestforsummer-box-item1">
        <div class="bestforsummer-item-text-left">Бензопилы</div>
    </a>
    <div class="bestforsummer-box-item bestforsummer-box-item2">
        <div class="bestforsummer-item-line"></div>
        <p>Срезай лишнее к лету</p><p>Садовый инструмент</p>
        <div class="bestforsummer-item-line"></div>
    </div>
    <a href="#" class="bestforsummer-box-item bestforsummer-box-item3">
        <div class="bestforsummer-item-text-right">Садовые ножницы</div>
    </a>
    <a href="#" class="bestforsummer-box-item bestforsummer-box-item4">
        <div class="bestforsummer-item-text-left">Лопаты</div>
    </a>
    <div class="bestforsummer-box-item bestforsummer-box-item5">
        <div class="bestforsummer-item-bush"></div>
    </div>
    <a href="#" class="bestforsummer-box-item bestforsummer-box-item6">
        <div class="bestforsummer-item-text-right">Газонокосилки</div>
    </a>
    <a href="#" class="bestforsummer-box-item bestforsummer-box-item7">
        <div class="bestforsummer-item-text-left">Кусторезы</div>
    </a>
    <a href="#" class="bestforsummer-box-item bestforsummer-box-item8">
        <div class="bestforsummer-item-text-center">Секаторы</div>
    </a>
    <a href="#" class="bestforsummer-box-item bestforsummer-box-item9">
        <div class="bestforsummer-item-text-right">Мотокосы</div>
    </a>
</div>
</div>